<footer class="Footer_Container">
    <a href="https://cinemaspace.w3spaces.com" target="_top" Class="Return_To_Top">Return to Orbit</a>
    <p Class="Copyright">Copyright ©
    <script>document.write(new Date().getFullYear())</script> Ryan Stucker All Rights Reserved</p>
</footer>
<script>
    function showSidebar(){
        const sidebar = document.querySelector('.sidebar')
        sidebar.style.display = 'flex'
        }
    function hideSidebar(){
        const sidebar = document.querySelector('.sidebar')
                sidebar.style.display = 'none'
        }
</script>