<footer>
    <a href="https://cinemaspace.w3spaces.com" target="_top" Class="Return_To_Top">Return to Orbit</a>
    <p Class="Copyright">Copyright ©
    <script>document.write(new Date().getFullYear())</script> Ryan Stucker All Rights Reserved</p>
</footer>