<!-- movie_list.liquid -->

<div class="movie-wrapper">
     <img src="../assets/Placeholder.png" alt="{{planet}}" class="movie-poster">
     <h3 class="movie-title">
     {{planet}} Title 
     </h3>
     <details class="movie-description">
     <summary class="preview">
     This is a movie it's pretty okay...
     </summary>
     This is a movie it's pretty okay. In reality it's very good, the pixels move and stuff and thats pretty cool.
     </details>
</div>