<!-- movie_list.liquid -->

<details class="movie-wrapper">
     <summary>Movie Name 1</summary>
     <img src="../assets/White Mono.svg" alt=" " width="5%" height="5%">
     <p>Once upon a placeholder, the place holder was once here, here there will be what there once was and always will be. May the gods wish it so, with such they hurger for the the holder of places. Lord holder of places powers of the higher ups, beings so high that they control what the places are. They are truly boring creatures.</p>
</details>
<details class="movie-wrapper">
     <summary>Movie Name 2</summary>
     <img src="../assets/White Mono.svg" alt=" " width="5%" height="5%">
     <p>Once upon a placeholder, the place holder was once here, here there will be what there once was and always will be. May the gods wish it so, with such they hurger for the the holder of places. Lord holder of places powers of the higher ups, beings so high that they control what the places are. They are truly boring creatures.</p>
</details>
<details class="movie-wrapper">
     <summary>Movie Name 3</summary>
     <img src="../assets/White Mono.svg" alt=" " width="5%" height="5%">
     <p>Once upon a placeholder, the place holder was once here, here there will be what there once was and always will be. May the gods wish it so, with such they hurger for the the holder of places. Lord holder of places powers of the higher ups, beings so high that they control what the places are. They are truly boring creatures.</p>
</details>
<details class="movie-wrapper">
     <summary>Movie Name 4</summary>
     <img src="../assets/White Mono.svg" alt=" " width="5%" height="5%">
     <p>Once upon a placeholder, the place holder was once here, here there will be what there once was and always will be. May the gods wish it so, with such they hurger for the the holder of places. Lord holder of places powers of the higher ups, beings so high that they control what the places are. They are truly boring creatures.</p>
</details>
<details class="movie-wrapper">
     <summary>Movie Name 5</summary>
     <img src="../assets/White Mono.svg" alt=" " width="5%" height="5%">
     <p>Once upon a placeholder, the place holder was once here, here there will be what there once was and always will be. May the gods wish it so, with such they hurger for the the holder of places. Lord holder of places powers of the higher ups, beings so high that they control what the places are. They are truly boring creatures.</p>
</details>
<details class="movie-wrapper">
     <summary>Movie Name 6</summary>
     <img src="../assets/White Mono.svg" alt=" " width="5%" height="5%">
     <p>Once upon a placeholder, the place holder was once here, here there will be what there once was and always will be. May the gods wish it so, with such they hurger for the the holder of places. Lord holder of places powers of the higher ups, beings so high that they control what the places are. They are truly boring creatures.</p>
</details>