@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
margin: 0px;
box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #eeeeee;
    background-color: #121212;
    overflow-x: hidden;
}


H1, h2{
    font-family: "Kanit", serif;
}

main h2 {
    font-size: clamp(24px, 1vw, 32px);
    margin: 0px 0px 10px 0px ;
}

main p {
    font-size: clamp(16px, 1vw, 24px);
    margin: 0px 0px 10px 0px;
}

main {
    margin: 0px 0px 100px 10%;
    display: flex;
    flex-direction: column;
    width: 40%;
}

@media(max-width:880px){
    main {
        width: 325px;
    }
}

/* Everything Below this is for the Header */

header {
    background-color: #00000000;
}

nav {
    position: fixed;
    background-color: #00000000;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

Nav a {
    color: #eeeeee;
    text-decoration: none;
    background-color: #06006050;
    border-color: #eeeeee75;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    height: 60px;
    width: 110px;
    padding: 20px;
    border-radius: 0px 0px 0px 10px;
    display: flex;
    align-items: center;
}

Nav a:first-child {
    margin-right: auto;
}

Nav a:hover {
    background-color: #0f00f050;
}

.logo {
    Background-color: #00000000;
    width: 60px;
    justify-content: center;
}

.NavLogo {
    border-radius: 0px 0px 10px 0px;
    border-width: 0px 1px 1px 0px;
}

.menu {
    height: 40px;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: #00000000;
    backdrop-filter: blur(10px);
    flex-direction: column;
}

.sidebar a {
    height: 60px;
    width: 200px;

}

@media(max-width:1300px){
    .hideOnMobile{
        display: none;
    }
}

@media(min-width:1300px){
    .hideOnWeb{
        display: none;
    }
}

/* sub head */
.container {
    position: relative;
    width: 100vw;
    top: 0;
    left: 0;
}
.front {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
}
.back {
    overflow: hidden;
    position: absolute;
    height: 800px;
    width: 100vw;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(1, 0, 10) 25%, rgb(0, 0, 43) 100%);
  }
  .cosmos .star {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1025px 229px rgba(255, 255, 255, 0.74), 1542px 2px rgba(255, 255, 255, 0.23), 1112px 250px rgba(255, 255, 255, 0.32), 1269px 49px rgba(255, 255, 255, 0.98), 316px 483px rgba(255, 255, 255, 0.7), 775px 262px rgba(255, 255, 255, 0.33), 1267px 235px rgba(255, 255, 255, 0.85), 346px 430px rgba(255, 255, 255, 0.12), 641px 682px rgba(255, 255, 255, 0.75), 1370px 964px rgba(255, 255, 255, 0.9), 1524px 917px rgb(255, 255, 255), 1658px 608px rgba(255, 255, 255, 0.18), 1184px 103px rgba(255, 255, 255, 0.06), 1111px 948px rgba(255, 255, 255, 0.79), 1120px 230px rgba(255, 255, 255, 0.68), 1240px 351px rgba(255, 255, 255, 0.73), 1513px 534px rgba(255, 255, 255, 0.12), 526px 670px rgba(255, 255, 255, 0.91), 1711px 615px rgba(255, 255, 255, 0.8), 890px 287px rgba(255, 255, 255, 0.84), 1242px 675px rgba(255, 255, 255, 0.35), 1472px 877px rgba(255, 255, 255, 0.77), 1641px 468px rgba(255, 255, 255, 0.76), 1547px 23px rgba(255, 255, 255, 0.69), 103px 479px rgba(255, 255, 255, 0.62), 860px 917px rgba(255, 255, 255, 0.38), 279px 725px rgb(255, 255, 255), 481px 364px rgba(255, 255, 255, 0.5), 796px 238px rgba(255, 255, 255, 0.22), 964px 284px rgba(255, 255, 255, 0.52), 1446px 138px rgba(255, 255, 255, 0.23), 452px 274px rgba(255, 255, 255, 0.97), 540px 311px rgba(255, 255, 255, 0.69), 969px 121px rgba(255, 255, 255, 0.67), 1840px 168px rgba(255, 255, 255, 0.01), 1465px 857px rgba(255, 255, 255, 0.52), 578px 901px rgba(255, 255, 255, 0.95), 817px 822px rgba(255, 255, 255, 0.59), 1437px 202px rgba(255, 255, 255, 0.49), 1136px 271px rgba(255, 255, 255, 0.2), 60px 334px rgba(255, 255, 255, 0.75), 89px 939px rgba(255, 255, 255, 0.46), 456px 138px rgba(255, 255, 255, 0.1), 283px 702px rgba(255, 255, 255, 0.92), 1167px 954px rgba(255, 255, 255, 0.04), 430px 59px rgba(255, 255, 255, 0.69), 1454px 469px rgba(255, 255, 255, 0.54), 122px 684px rgba(255, 255, 255, 0.62), 1580px 532px rgba(255, 255, 255, 0.2), 251px 939px rgba(255, 255, 255, 0.73), 617px 489px rgba(255, 255, 255, 0.8), 1232px 507px rgba(255, 255, 255, 0.46), 1390px 132px rgba(255, 255, 255, 0.86), 99px 34px rgba(255, 255, 255, 0.1), 27px 242px rgba(255, 255, 255, 0.73), 421px 953px rgba(255, 255, 255, 0.53), 1460px 198px rgba(255, 255, 255, 0.63), 1475px 244px rgba(255, 255, 255, 0.02), 759px 791px rgba(255, 255, 255, 0.08), 256px 167px rgba(255, 255, 255, 0.05), 1154px 632px rgba(255, 255, 255, 0.6), 174px 337px rgba(255, 255, 255, 0.5), 1878px 32px rgba(255, 255, 255, 0.6), 387px 592px rgba(255, 255, 255, 0.34), 1418px 637px rgba(255, 255, 255, 0.08), 1075px 18px rgba(255, 255, 255, 0.19), 116px 889px rgba(255, 255, 255, 0.73), 869px 746px rgba(255, 255, 255, 0.81), 990px 598px rgba(255, 255, 255, 0.53), 117px 323px rgba(255, 255, 255, 0.73), 1665px 821px rgba(255, 255, 255, 0.6), 1173px 444px rgba(255, 255, 255, 0.2), 529px 972px rgba(255, 255, 255, 0.03), 721px 819px rgba(255, 255, 255, 0.19), 1218px 816px rgba(255, 255, 255, 0.11), 681px 468px rgba(255, 255, 255, 0.4), 1089px 740px rgba(255, 255, 255, 0.67), 1899px 238px rgba(255, 255, 255, 0.59), 1847px 172px rgba(255, 255, 255, 0.86), 628px 197px rgba(255, 255, 255, 0.83), 1628px 260px rgba(255, 255, 255, 0.41), 1218px 782px rgba(255, 255, 255, 0.89), 52px 930px rgba(255, 255, 255, 0.54), 1743px 792px rgba(255, 255, 255, 0.02), 1061px 49px rgba(255, 255, 255, 0.51), 661px 521px rgba(255, 255, 255, 0.27), 835px 676px rgba(255, 255, 255, 0.3), 1323px 496px rgba(255, 255, 255, 0.92), 1033px 814px rgba(255, 255, 255, 0.53), 1899px 334px rgba(255, 255, 255, 0.27), 358px 516px rgba(255, 255, 255, 0.55), 423px 291px rgba(255, 255, 255, 0.13), 84px 834px rgba(255, 255, 255, 0.6), 238px 533px rgba(255, 255, 255, 0.52), 1352px 601px rgba(255, 255, 255, 0.83), 604px 904px rgba(255, 255, 255, 0.02), 1231px 906px rgba(255, 255, 255, 0.71), 518px 41px rgba(255, 255, 255, 0.71), 992px 829px rgba(255, 255, 255, 0.66), 854px 379px rgba(255, 255, 255, 0.22), 184px 920px rgba(255, 255, 255, 0.93), 495px 378px rgba(255, 255, 255, 0.86), 298px 75px rgba(255, 255, 255, 0.19), 987px 38px rgba(255, 255, 255, 0.85), 731px 706px rgba(255, 255, 255, 0.87), 1740px 931px rgba(255, 255, 255, 0.54), 1282px 382px rgba(255, 255, 255, 0.32), 168px 637px rgba(255, 255, 255, 0.74), 106px 567px rgba(255, 255, 255, 0.68), 1795px 108px rgba(255, 255, 255, 0.19), 424px 795px rgba(255, 255, 255, 0.06), 1583px 473px rgba(255, 255, 255, 0.1), 1364px 963px rgba(255, 255, 255, 0.61), 1121px 869px rgba(255, 255, 255, 0.55), 11px 236px rgba(255, 255, 255, 0.02), 177px 670px rgba(255, 255, 255, 0.8), 430px 721px rgba(255, 255, 255, 0.98), 660px 392px rgba(255, 255, 255, 0.76), 310px 21px rgba(255, 255, 255, 0.21), 196px 177px rgba(255, 255, 255, 0.07), 1397px 10px rgba(255, 255, 255, 0.72), 1459px 187px rgba(255, 255, 255, 0.41), 1793px 227px rgba(255, 255, 255, 0.13), 1785px 946px rgba(255, 255, 255, 0.33), 600px 158px rgba(255, 255, 255, 0.4), 1305px 772px rgba(255, 255, 255, 0.03), 1144px 32px rgba(255, 255, 255, 0.21), 73px 964px rgba(255, 255, 255, 0.8), 69px 663px rgba(255, 255, 255, 0.76), 668px 28px rgba(255, 255, 255, 0.35), 75px 449px rgba(255, 255, 255, 0.11), 721px 974px rgba(255, 255, 255, 0.89), 976px 459px rgba(255, 255, 255, 0.55), 181px 612px rgba(255, 255, 255, 0.64), 678px 543px rgba(255, 255, 255, 0.95), 461px 106px rgba(255, 255, 255, 0.65), 66px 573px rgba(255, 255, 255, 0.9), 1645px 893px rgba(255, 255, 255, 0.74), 1647px 887px rgba(255, 255, 255, 0.98), 1729px 757px rgba(255, 255, 255, 0.94), 511px 959px rgba(255, 255, 255, 0.05), 1362px 330px rgba(255, 255, 255, 0.46), 184px 728px rgba(255, 255, 255, 0.63), 613px 844px rgba(255, 255, 255, 0.42), 1141px 310px rgba(255, 255, 255, 0.29), 460px 61px rgba(255, 255, 255, 0.78), 1915px 684px rgba(255, 255, 255, 0.24), 144px 533px rgba(255, 255, 255, 0.98), 505px 306px rgba(255, 255, 255, 0.94), 1432px 887px rgba(255, 255, 255, 0.08), 1614px 368px rgba(255, 255, 255, 0.78), 767px 587px rgba(255, 255, 255, 0.87), 1471px 189px rgba(255, 255, 255, 0.61), 51px 103px rgba(255, 255, 255, 0.14), 573px 868px rgba(255, 255, 255, 0.26), 1619px 571px rgba(255, 255, 255, 0.79), 1717px 391px rgb(255, 255, 255), 1217px 887px rgba(255, 255, 255, 0.94), 262px 220px rgba(255, 255, 255, 0.03), 908px 465px rgba(255, 255, 255, 0.3), 1200px 452px rgba(255, 255, 255, 0.08), 213px 989px rgba(255, 255, 255, 0.75), 1576px 941px rgba(255, 255, 255, 0.07), 1560px 658px rgba(255, 255, 255, 0.54), 99px 53px rgba(255, 255, 255, 0.12), 1341px 627px rgba(255, 255, 255, 0.32), 647px 34px rgba(255, 255, 255, 0.19), 975px 685px rgba(255, 255, 255, 0.84), 844px 705px rgba(255, 255, 255, 0.54), 989px 822px rgba(255, 255, 255, 0.02), 876px 764px rgba(255, 255, 255, 0.46), 1149px 53px rgba(255, 255, 255, 0.9), 444px 31px rgba(255, 255, 255, 0.71), 470px 794px rgba(255, 255, 255, 0.44), 1117px 108px rgba(255, 255, 255, 0.3), 236px 786px rgba(255, 255, 255, 0.02), 1612px 894px rgba(255, 255, 255, 0.2), 651px 439px rgba(255, 255, 255, 0.87), 952px 318px rgba(255, 255, 255, 0.81), 1321px 132px rgba(255, 255, 255, 0.43), 987px 736px rgba(255, 255, 255, 0.81), 1710px 446px rgba(255, 255, 255, 0.4), 1544px 681px rgba(255, 255, 255, 0.81), 271px 752px rgba(255, 255, 255, 0.82), 1860px 691px rgba(255, 255, 255, 0.12), 1544px 58px rgba(255, 255, 255, 0.41), 278px 660px rgba(255, 255, 255, 0.18), 1211px 797px rgba(255, 255, 255, 0.45), 1747px 884px rgba(255, 255, 255, 0.86), 1384px 271px rgba(255, 255, 255, 0.88), 466px 909px rgba(255, 255, 255, 0.86), 1508px 102px rgba(255, 255, 255, 0.03), 702px 601px rgba(255, 255, 255, 0.31), 27px 197px rgba(255, 255, 255, 0.03), 136px 997px rgba(255, 255, 255, 0.55), 901px 460px rgba(255, 255, 255, 0.09), 583px 96px rgba(255, 255, 255, 0.92), 1728px 647px rgba(255, 255, 255, 0.02), 1910px 584px rgba(255, 255, 255, 0.75), 1103px 648px rgba(255, 255, 255, 0.67), 1889px 893px rgba(255, 255, 255, 0.07), 281px 678px rgba(255, 255, 255, 0.03), 784px 250px rgba(255, 255, 255, 0.6), 539px 764px rgba(255, 255, 255, 0.9), 122px 228px rgba(255, 255, 255, 0.77), 1879px 821px rgba(255, 255, 255, 0.94), 1430px 912px rgba(255, 255, 255, 0.81), 105px 679px rgba(255, 255, 255, 0.84), 1411px 116px rgba(255, 255, 255, 0.87), 1811px 181px rgba(255, 255, 255, 0.54), 252px 437px rgba(255, 255, 255, 0.76), 1496px 712px rgba(255, 255, 255, 0.66), 340px 83px rgba(255, 255, 255, 0.51), 1087px 685px rgba(255, 255, 255, 0.65), 420px 402px rgba(255, 255, 255, 0.43), 1072px 687px rgba(255, 255, 255, 0.37), 1465px 223px rgba(255, 255, 255, 0.53), 1482px 947px rgba(255, 255, 255, 0.35), 1113px 782px rgba(255, 255, 255, 0.72), 782px 922px rgba(255, 255, 255, 0.33), 377px 76px rgba(255, 255, 255, 0.52), 736px 661px rgba(255, 255, 255, 0.11), 1562px 128px rgba(255, 255, 255, 0.15), 1421px 935px rgba(255, 255, 255, 0.05), 376px 668px rgba(255, 255, 255, 0.14), 1422px 238px rgba(255, 255, 255, 0.77), 1576px 114px rgba(255, 255, 255, 0.76), 1350px 963px rgba(255, 255, 255, 0.56), 292px 96px rgba(255, 255, 255, 0.21), 1836px 344px rgba(255, 255, 255, 0.34), 888px 483px rgba(255, 255, 255, 0.88), 1642px 920px rgba(255, 255, 255, 0.63), 48px 138px rgba(255, 255, 255, 0.12), 1587px 307px rgba(255, 255, 255, 0.91), 525px 132px rgba(255, 255, 255, 0.74), 974px 648px rgba(255, 255, 255, 0.95), 1206px 875px rgba(255, 255, 255, 0.31), 498px 805px rgba(255, 255, 255, 0.16), 767px 237px rgba(255, 255, 255, 0.62), 1607px 482px rgba(255, 255, 255, 0.81), 997px 158px rgba(255, 255, 255, 0.64), 231px 906px rgba(255, 255, 255, 0.32), 448px 116px rgba(255, 255, 255, 0.26), 1039px 406px rgba(255, 255, 255, 0.11), 1190px 376px rgba(255, 255, 255, 0.67), 804px 781px rgba(255, 255, 255, 0.98), 1668px 20px rgba(255, 255, 255, 0.58), 712px 791px rgba(255, 255, 255, 0.38), 1697px 426px rgba(255, 255, 255, 0.9), 1275px 50px rgba(255, 255, 255, 0.04), 853px 55px rgba(255, 255, 255, 0.39), 1167px 54px rgba(255, 255, 255, 0.5), 132px 387px rgba(255, 255, 255, 0.58), 176px 986px rgba(255, 255, 255, 0.2), 1142px 210px rgba(255, 255, 255, 0.95), 343px 628px rgba(255, 255, 255, 0.69), 1910px 788px rgba(255, 255, 255, 0.09), 663px 159px rgba(255, 255, 255, 0.69), 1042px 477px rgba(255, 255, 255, 0.97), 148px 850px rgba(255, 255, 255, 0.55), 1070px 445px rgba(255, 255, 255, 0.48), 1034px 380px rgba(255, 255, 255, 0.21), 1833px 656px rgba(255, 255, 255, 0.67), 206px 435px rgba(255, 255, 255, 0.75), 563px 412px rgba(255, 255, 255, 0.66), 763px 49px rgba(255, 255, 255, 0.33), 1507px 107px rgba(255, 255, 255, 0.47), 1203px 847px rgba(255, 255, 255, 0.98), 656px 919px rgba(255, 255, 255, 0.25), 449px 607px rgba(255, 255, 255, 0.27), 595px 715px rgba(255, 255, 255, 0.12), 1272px 51px rgba(255, 255, 255, 0.41), 355px 571px rgba(255, 255, 255, 0.42), 796px 161px rgba(255, 255, 255, 0.71), 641px 30px rgba(255, 255, 255, 0.55), 1696px 33px rgba(255, 255, 255, 0.83), 1533px 739px rgba(255, 255, 255, 0.37), 1174px 82px rgba(255, 255, 255, 0.35), 1621px 391px rgba(255, 255, 255, 0.96), 1168px 405px rgba(255, 255, 255, 0.21), 1846px 730px rgba(255, 255, 255, 0.8), 762px 218px rgba(255, 255, 255, 0.31), 1679px 790px rgba(255, 255, 255, 0.58), 700px 686px rgba(255, 255, 255, 0.99), 1395px 717px rgba(255, 255, 255, 0.03), 1311px 499px rgb(255, 255, 255), 1539px 90px rgba(255, 255, 255, 0.66), 356px 649px rgba(255, 255, 255, 0.3), 924px 162px rgba(255, 255, 255, 0.29), 1252px 210px rgba(255, 255, 255, 0.67), 821px 563px rgba(255, 255, 255, 0.82), 1271px 972px rgba(255, 255, 255, 0.56), 573px 96px rgba(255, 255, 255, 0.38), 1786px 539px rgba(255, 255, 255, 0.8), 747px 96px rgba(255, 255, 255, 0.98), 654px 480px rgba(255, 255, 255, 0.37), 1632px 650px rgba(255, 255, 255, 0.87), 1887px 887px rgba(255, 255, 255, 0.11), 1442px 346px rgba(255, 255, 255, 0.72), 1097px 222px rgba(255, 255, 255, 0.31), 88px 90px rgba(255, 255, 255, 0.65), 1498px 634px rgba(255, 255, 255, 0.75), 902px 799px rgba(255, 255, 255, 0.72), 265px 989px rgba(255, 255, 255, 0.2), 1381px 718px rgba(255, 255, 255, 0.67), 692px 685px rgba(255, 255, 255, 0.54), 1712px 93px rgba(255, 255, 255, 0.4), 720px 756px rgba(255, 255, 255, 0.15), 125px 232px rgba(255, 255, 255, 0.1), 1345px 942px rgba(255, 255, 255, 0.09), 1464px 681px rgba(255, 255, 255, 0.07), 1198px 770px rgba(255, 255, 255, 0.18), 712px 973px rgba(255, 255, 255, 0.47), 1223px 654px rgba(255, 255, 255, 0.6), 1052px 125px rgba(255, 255, 255, 0.69), 912px 735px rgba(255, 255, 255, 0.52), 1913px 330px rgba(255, 255, 255, 0.69), 694px 183px rgba(255, 255, 255, 0.99), 1536px 593px rgba(255, 255, 255, 0.34), 1009px 390px rgba(255, 255, 255, 0.24), 1007px 771px rgba(255, 255, 255, 0.56), 593px 887px rgba(255, 255, 255, 0.61), 1861px 151px rgba(255, 255, 255, 0.49), 1863px 13px rgba(255, 255, 255, 0.08), 16px 419px rgb(255, 255, 255), 1807px 625px rgba(255, 255, 255, 0.16), 346px 679px rgba(255, 255, 255, 0.83), 1089px 216px rgba(255, 255, 255, 0.88), 227px 746px rgba(255, 255, 255, 0.71), 1405px 273px rgba(255, 255, 255, 0.6), 710px 152px rgba(255, 255, 255, 0.96), 28px 147px rgba(255, 255, 255, 0.37), 1180px 667px rgba(255, 255, 255, 0.24), 1427px 745px rgba(255, 255, 255, 0.85), 1754px 795px rgba(255, 255, 255, 0.67), 1492px 198px rgba(255, 255, 255, 0.31), 727px 885px rgba(255, 255, 255, 0.58), 448px 650px rgba(255, 255, 255, 0.46), 1186px 347px rgba(255, 255, 255, 0.03), 1566px 632px rgba(255, 255, 255, 0.15), 918px 553px rgba(255, 255, 255, 0.67), 638px 113px rgba(255, 255, 255, 0.6), 176px 976px rgba(255, 255, 255, 0.22), 1432px 366px rgba(255, 255, 255, 0.46), 83px 881px rgba(255, 255, 255, 0.31), 1324px 645px rgba(255, 255, 255, 0.87), 1015px 853px rgba(255, 255, 255, 0.08), 102px 801px rgba(255, 255, 255, 0.89), 1400px 181px rgba(255, 255, 255, 0.3), 1395px 148px rgba(255, 255, 255, 0.98), 1007px 693px rgba(255, 255, 255, 0.48), 124px 534px rgba(255, 255, 255, 0.55), 1898px 177px rgba(255, 255, 255, 0.92), 535px 598px rgba(255, 255, 255, 0.77), 713px 426px rgba(255, 255, 255, 0.1), 852px 363px rgba(255, 255, 255, 0.93), 1312px 618px rgba(255, 255, 255, 0.76), 1381px 910px rgba(255, 255, 255, 0.86), 1678px 474px rgba(255, 255, 255, 0.4), 1001px 81px rgba(255, 255, 255, 0.55), 1311px 600px rgba(255, 255, 255, 0.7), 788px 156px rgba(255, 255, 255, 0.3), 336px 425px rgba(255, 255, 255, 0.05), 1465px 427px rgba(255, 255, 255, 0.63), 1077px 36px rgba(255, 255, 255, 0.33), 588px 691px rgba(255, 255, 255, 0.13), 62px 198px rgba(255, 255, 255, 0.61), 1880px 822px rgba(255, 255, 255, 0.95), 919px 995px rgba(255, 255, 255, 0.8), 373px 604px rgba(255, 255, 255, 0.46), 1747px 581px rgba(255, 255, 255, 0.04), 1449px 493px rgba(255, 255, 255, 0.19), 1683px 114px rgba(255, 255, 255, 0.24), 1018px 837px rgba(255, 255, 255, 0.02), 1788px 435px rgba(255, 255, 255, 0.3), 682px 918px rgba(255, 255, 255, 0.1), 75px 809px rgba(255, 255, 255, 0.64), 293px 399px rgba(255, 255, 255, 0.78), 484px 816px rgba(255, 255, 255, 0.08), 1221px 378px rgba(255, 255, 255, 0.28), 1604px 527px rgba(255, 255, 255, 0.02), 866px 753px rgba(255, 255, 255, 0.62), 1571px 311px rgba(255, 255, 255, 0.72), 1582px 142px rgba(255, 255, 255, 0.02), 106px 606px rgba(255, 255, 255, 0.18), 1043px 80px rgba(255, 255, 255, 0.87), 1104px 887px rgba(255, 255, 255, 0.55), 722px 634px rgba(255, 255, 255, 0.08), 1657px 495px rgba(255, 255, 255, 0.97), 1705px 423px rgba(255, 255, 255, 0.24), 22px 164px rgba(255, 255, 255, 0.76), 1451px 578px rgba(255, 255, 255, 0.71), 1165px 404px rgba(255, 255, 255, 0.03), 1525px 653px rgba(255, 255, 255, 0.98), 1622px 350px rgba(255, 255, 255, 0.02), 1420px 14px rgba(255, 255, 255, 0.81), 79px 803px rgba(255, 255, 255, 0.55), 1438px 13px rgba(255, 255, 255, 0.27), 1400px 763px rgba(255, 255, 255, 0.21), 1702px 617px rgba(255, 255, 255, 0.51), 381px 937px rgba(255, 255, 255, 0.83), 1411px 799px rgba(255, 255, 255, 0.49), 256px 834px rgba(255, 255, 255, 0.15), 329px 379px rgba(255, 255, 255, 0.89), 937px 391px rgba(255, 255, 255, 0.9), 1173px 223px rgba(255, 255, 255, 0.92), 552px 394px rgba(255, 255, 255, 0.83), 634px 693px rgba(255, 255, 255, 0.13), 379px 939px rgba(255, 255, 255, 0.53), 1210px 777px rgba(255, 255, 255, 0.22), 505px 512px rgba(255, 255, 255, 0.36), 1570px 386px rgba(255, 255, 255, 0.14), 861px 59px rgba(255, 255, 255, 0.81), 154px 636px rgba(255, 255, 255, 0.03), 1492px 269px rgba(255, 255, 255, 0.05), 1394px 374px rgba(255, 255, 255, 0.81), 43px 288px rgba(255, 255, 255, 0.46), 206px 82px rgba(255, 255, 255, 0.18), 1898px 341px rgba(255, 255, 255, 0.19), 627px 536px rgba(255, 255, 255, 0.31), 507px 220px rgba(255, 255, 255, 0.15), 1721px 450px rgb(255, 255, 255), 786px 461px rgba(255, 255, 255, 0.26), 1888px 295px rgba(255, 255, 255, 0.92), 1075px 72px rgba(255, 255, 255, 0.87), 1392px 334px rgba(255, 255, 255, 0.87), 118px 12px rgba(255, 255, 255, 0.05), 1245px 538px rgba(255, 255, 255, 0.41), 1713px 73px rgba(255, 255, 255, 0.01), 34px 664px rgba(255, 255, 255, 0.38), 1390px 872px rgba(255, 255, 255, 0.17), 175px 810px rgba(255, 255, 255, 0.78), 710px 30px rgba(255, 255, 255, 0.44), 1089px 375px rgba(255, 255, 255, 0.3), 1224px 312px rgba(255, 255, 255, 0.01), 130px 707px rgba(255, 255, 255, 0.26), 444px 581px rgba(255, 255, 255, 0.5), 1298px 171px rgba(255, 255, 255, 0.04), 581px 104px rgba(255, 255, 255, 0.31), 1387px 883px rgba(255, 255, 255, 0.91), 1514px 781px rgba(255, 255, 255, 0.98), 207px 752px rgba(255, 255, 255, 0.47), 1073px 287px rgba(255, 255, 255, 0.94), 1597px 920px rgba(255, 255, 255, 0.65), 1086px 494px rgba(255, 255, 255, 0.59), 89px 472px rgba(255, 255, 255, 0.81), 1852px 100px rgba(255, 255, 255, 0.82), 931px 180px rgba(255, 255, 255, 0.86), 1792px 914px rgba(255, 255, 255, 0.15), 679px 291px rgba(255, 255, 255, 0.29), 1169px 641px rgba(255, 255, 255, 0.25), 622px 403px rgba(255, 255, 255, 0.96), 502px 728px rgba(255, 255, 255, 0.2), 715px 119px rgba(255, 255, 255, 0.38), 1001px 797px rgba(255, 255, 255, 0.48), 790px 591px rgba(255, 255, 255, 0.56), 667px 222px rgba(255, 255, 255, 0.23), 1361px 993px rgba(255, 255, 255, 0.76), 908px 559px rgba(255, 255, 255, 0.73), 1475px 803px rgba(255, 255, 255, 0.48), 349px 529px rgba(255, 255, 255, 0.56), 185px 245px rgba(255, 255, 255, 0.93), 934px 53px rgba(255, 255, 255, 0.05), 1579px 771px rgba(255, 255, 255, 0.16), 1203px 203px rgba(255, 255, 255, 0.53), 1194px 531px rgba(255, 255, 255, 0.72), 1406px 341px rgba(255, 255, 255, 0.31), 1695px 23px rgba(255, 255, 255, 0.33), 1542px 92px rgba(255, 255, 255, 0.85), 1843px 840px rgba(255, 255, 255, 0.85), 1396px 166px rgba(255, 255, 255, 0.45), 1626px 511px rgba(255, 255, 255, 0.17), 495px 942px rgba(255, 255, 255, 0.21), 288px 656px rgba(255, 255, 255, 0.42), 1501px 891px rgba(255, 255, 255, 0.39), 1781px 703px rgba(255, 255, 255, 0.24), 126px 638px rgba(255, 255, 255, 0.25), 1197px 435px rgba(255, 255, 255, 0.94), 639px 563px rgba(255, 255, 255, 0.2), 1745px 27px rgba(255, 255, 255, 0.81), 1743px 476px rgba(255, 255, 255, 0.45), 1743px 184px rgba(255, 255, 255, 0.47), 782px 831px rgba(255, 255, 255, 0.31), 770px 997px rgba(255, 255, 255, 0.46), 1193px 721px rgba(255, 255, 255, 0.95), 1529px 234px rgba(255, 255, 255, 0.87), 1316px 532px rgba(255, 255, 255, 0.68), 1643px 775px rgba(255, 255, 255, 0.41), 370px 926px rgba(255, 255, 255, 0.68), 395px 777px rgba(255, 255, 255, 0.76), 241px 937px rgba(255, 255, 255, 0.96), 524px 803px rgba(255, 255, 255, 0.67), 80px 393px rgba(255, 255, 255, 0.9), 1610px 328px rgba(255, 255, 255, 0.78), 1794px 962px rgba(255, 255, 255, 0.09), 1030px 451px rgba(255, 255, 255, 0.34), 756px 165px rgba(255, 255, 255, 0.87), 1779px 218px rgba(255, 255, 255, 0.39), 1035px 452px rgba(255, 255, 255, 0.47), 1086px 426px rgba(255, 255, 255, 0.74), 734px 360px rgba(255, 255, 255, 0.78), 370px 342px rgba(255, 255, 255, 0.35), 1086px 167px rgba(255, 255, 255, 0.04), 579px 659px rgba(255, 255, 255, 0.87), 747px 95px rgba(255, 255, 255, 0.26), 523px 212px rgba(255, 255, 255, 0.45), 480px 759px rgba(255, 255, 255, 0.83), 1910px 532px rgba(255, 255, 255, 0.1), 784px 597px rgba(255, 255, 255, 0.14), 665px 316px rgba(255, 255, 255, 0.08), 1703px 600px rgba(255, 255, 255, 0.39), 1511px 937px rgba(255, 255, 255, 0.63), 1196px 377px rgba(255, 255, 255, 0.26), 1669px 823px rgba(255, 255, 255, 0.07), 742px 694px rgba(255, 255, 255, 0.75), 728px 397px rgba(255, 255, 255, 0.06), 1468px 482px rgba(255, 255, 255, 0.81), 390px 62px rgba(255, 255, 255, 0.61), 1112px 108px rgba(255, 255, 255, 0.86), 1228px 307px rgba(255, 255, 255, 0.3), 569px 200px rgba(255, 255, 255, 0.15), 1717px 935px rgba(255, 255, 255, 0.22), 343px 41px rgba(255, 255, 255, 0.21), 647px 344px rgba(255, 255, 255, 0.42), 1437px 385px rgba(255, 255, 255, 0.53), 1429px 725px rgba(255, 255, 255, 0.29), 1565px 886px rgba(255, 255, 255, 0.48), 119px 132px rgba(255, 255, 255, 0.2), 1304px 324px rgba(255, 255, 255, 0.97), 1888px 956px rgba(255, 255, 255, 0.65), 23px 80px rgba(255, 255, 255, 0.5), 640px 377px rgba(255, 255, 255, 0.09), 699px 954px rgba(255, 255, 255, 0.13), 742px 617px rgba(255, 255, 255, 0.19), 25px 894px rgba(255, 255, 255, 0.1), 678px 660px rgba(255, 255, 255, 0.82), 1644px 129px rgba(255, 255, 255, 0.73), 89px 914px rgba(255, 255, 255, 0.87), 809px 98px rgba(255, 255, 255, 0.35), 1678px 624px rgba(255, 255, 255, 0.34), 372px 111px rgba(255, 255, 255, 0.16), 908px 49px rgba(255, 255, 255, 0.25), 50px 961px rgba(255, 255, 255, 0.25), 233px 36px rgba(255, 255, 255, 0.73), 778px 733px rgba(255, 255, 255, 0.78), 1156px 25px rgba(255, 255, 255, 0.19), 576px 89px rgba(255, 255, 255, 0.98), 286px 661px rgba(255, 255, 255, 0.86), 1749px 842px rgba(255, 255, 255, 0.5), 625px 110px rgba(255, 255, 255, 0.81), 1507px 269px rgba(255, 255, 255, 0.33), 1095px 243px rgba(255, 255, 255, 0.99), 1869px 774px rgba(255, 255, 255, 0.06), 480px 795px rgba(255, 255, 255, 0.18), 165px 36px rgba(255, 255, 255, 0.55), 1308px 991px rgba(255, 255, 255, 0.4), 1643px 281px rgba(255, 255, 255, 0.86), 1053px 931px rgba(255, 255, 255, 0.28), 1920px 583px rgba(255, 255, 255, 0.96), 587px 657px rgba(255, 255, 255, 0.11), 766px 905px rgba(255, 255, 255, 0.82), 1039px 606px rgba(255, 255, 255, 0.7), 1459px 898px rgba(255, 255, 255, 0.14), 1833px 33px rgba(255, 255, 255, 0.57), 998px 56px rgba(255, 255, 255, 0.28), 1260px 371px rgba(255, 255, 255, 0.61), 1274px 537px rgba(255, 255, 255, 0.04), 779px 581px rgba(255, 255, 255, 0.84), 549px 789px rgba(255, 255, 255, 0.33), 140px 147px rgba(255, 255, 255, 0.86), 1113px 628px rgba(255, 255, 255, 0.44), 1554px 742px rgba(255, 255, 255, 0.09), 693px 863px rgba(255, 255, 255, 0.38), 1378px 237px rgba(255, 255, 255, 0.56), 1909px 611px rgba(255, 255, 255, 0.59), 444px 850px rgba(255, 255, 255, 0.14), 1355px 398px rgba(255, 255, 255, 0.56), 1180px 589px rgba(255, 255, 255, 0.94), 579px 828px rgba(255, 255, 255, 0.73), 1651px 824px rgba(255, 255, 255, 0.16), 273px 44px rgba(255, 255, 255, 0.65), 1471px 57px rgba(255, 255, 255, 0.52), 1683px 237px rgba(255, 255, 255, 0.16), 1333px 733px rgba(255, 255, 255, 0.05), 521px 853px rgb(255, 255, 255), 700px 928px rgba(255, 255, 255, 0.36), 732px 963px rgba(255, 255, 255, 0.98), 1112px 619px rgba(255, 255, 255, 0.02), 13px 317px rgba(255, 255, 255, 0.8), 215px 521px rgba(255, 255, 255, 0.84), 568px 134px rgba(255, 255, 255, 0.85), 1566px 938px rgba(255, 255, 255, 0.83), 109px 735px rgba(255, 255, 255, 0.63), 1843px 732px rgba(255, 255, 255, 0.72), 395px 798px rgba(255, 255, 255, 0.33), 771px 58px rgba(255, 255, 255, 0.6), 1039px 979px rgba(255, 255, 255, 0.12), 1142px 139px rgba(255, 255, 255, 0.76), 1621px 564px rgba(255, 255, 255, 0.35), 611px 977px rgba(255, 255, 255, 0.99);
  }

h1{
    font-size: clamp(100px, 10vw, 250px);
    position: absolute;
    top: 50px;
    left: 5%;
}

model-viewer.index {
    transform: scale(14);
    top: 500px;
}

model-viewer.jupiter, model-viewer.mars, model-viewer.beyond {
    align-self: center;   
    transform: scale(4);

}

.Sub_Header_Container {
    margin: 0px 0px 45px 0px;
    width: auto;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

@media(max-width:500px){
    .Sub_Header_Container{
        height: 500px;
    }
    .back {
        height: 500px;
    }
    model-viewer.index{
        top: 800px;
    }
    model-viewer.jupiter, model-viewer.mars, model-viewer.beyond{
        transform: scale(2.5);
        top: 70px;
    }
}

.Sub_Header_Container.index{
    z-index: -1;
    width: 100%;
    /* background-image: url(felix_mittermeier-June_13th\,2020-Home.webp);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.Sub_Header_Container.beyond{
    z-index: -1;
    width: 100%;
    /* background-image: url(felix_mittermeier-June_13th\,2020-Beyond.webp);
    background-position: right center;
    background-repeat:no-repeat;
    background-size: cover; */
}

.Sub_Header_Container.mars{
    z-index: -1;
    width: 100%;
    /* background-image: url(felix_mittermeier-Aug_23\,2017-Mars.webp);
    background-position: right center;
    background-repeat:no-repeat;
    background-size: cover; */
}

.Sub_Header_Container.jupiter{
    z-index: -1;
    width: 100%;
    /* background-image: url(felix_mittermeier-June_13th\,2020-jupiter.webp);
    background-position: right center;
    background-repeat:no-repeat;
    background-size: cover; */
}

/* Everything below this is for the movie review display*/

#output {
    width: 90%;
    margin: 0px 0px 100px 10%;
}

.dbs-wrapper {
    background-color: #dddcdd;
    color: #010010;
    display: flex;
    margin: 0px 5% 0px 0%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: #010010 solid;
}

.movie-search {
    background-color: none;
    border: #010010 solid 3px;
    border-radius: 5px;
    padding: 2px 15px;
    margin: 5px ;
}

.movie-genre {
    position: relative;
    background-color: none;
    border: #010010 solid 3px;
    border-radius: 5px;
    padding: 2px 15px;
    margin: 5px ;
}

.movie-genre:hover {
    background-color: #06006050;
}

.movie-genre summary{
    list-style: none;
}

.genre-list {
    position: absolute;
    list-style: none;
    background-color: #dddcdd;
    border: #010010 solid 3px;
    border-radius: 5px;
    padding: 2px 15px;
    margin: 5px ;   
}

.genre-list li {
    border-bottom: #010010 solid 1px;
    margin-bottom: 5px;
}

.movie-wrapper {
    background-color: #dddcdd;
    display: flex;
    align-items: start;
    border-bottom: #010010 solid;
    margin-right: 5%;
}

.movie-poster {
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.movie-description {
    color: #010010;
    justify-self: start;
    align-self: center;
    padding: 0px 0px 0px 1rem;
}

.movie-description summary{
    list-style: none;
}

.movie-description summary:hover{
    border: #010010 solid;
    border-radius: 5px;
    padding: 0px 5px;
}


/* Everything Below this is for the Footer */

.Footer_Container {
    position: relative;
    background-color: #010010;
    height: 250px;
    width: auto;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.Return_To_Top {
    position: absolute;
    top: -60px;
    right: 5%;
    text-decoration: none;
    color: #eeeeee;
    padding: 10px 20px;
    border: solid;
    border-radius: 5px;
    background-color: #010010;
}

.Return_To_Top:hover {
    background-color: #06006075;
}

.Copyright{

    justify-self: center;
    align-self: flex-end;
    grid-row: 5;
    grid-column: 2 / 5;
    padding: 20px;
}
