@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
margin: 0px;
box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #eeeeee;
    background-color: #121212;
    overflow-x: hidden;
}


H1, h2{
    font-family: "Kanit", serif;

}

/* Everything Below this is for the Header */

header {
    background-color: #00000000;
}

nav {
    background-color: #00000000;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

Nav a {
    color: #eeeeee;
    text-decoration: none;
    background-color: #010010;
    border-color: #eeeeee;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    height: 60px;
    width: 110px;
    padding: 20px;
    border-radius: 0px 0px 0px 10px;
    display: flex;
    align-items: center;
}

Nav a:hover {
    background-color: #06006050;
}

Nav a:first-child {
    margin-right: auto;
}

.logo {
    Background-color: #00000000;
    width: 60px;
    justify-content: center;
}

.NavLogo {
    background-color: #010010;
    border-radius: 0px 0px 10px 0px;
    border-width: 0px 1px 1px 0px;
}

.menu {
    height: 40px;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: #010010;
    backdrop-filter: blur(10px);
    flex-direction: column;
}

.sidebar a {
    height: 60px;
    width: 200px;

}

@media(max-width:1300px){
    .hideOnMobile{
        display: none;
    }
}

@media(min-width:1300px){
    .hideOnWeb{
        display: none;
    }
}

/* sub head */

.SubHeadImage {

}

/* Everything Below this is for the Footer */

.Footer_Container {
    background-color: #010010;
    display: grid;

}