@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
margin: 0px;
background-color: #121212;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #eeeeee;
}


H1, h2{
    font-family: "Kanit", serif;

}

.logo {
    Background-color: #00000000;

    width: 80px;
}

.Nav_Container {
    background-color: #010010;
    display: grid;
    grid-template-columns: repeat(2, 200px), auto;
    grid-template-rows: 80px;
}

Nav {
    Background-color: #00000000;
    grid-row: 1;
    grid-column: 3;
        grid-template-columns: repeat(2, 200px), auto;
        grid-template-rows: 80px;
}

.NavLogo {
    Background-color: #00000000;
    grid-row: 1;
    grid-column: 1;
    
}

.Footer_Container {
    background-color: #010010;
    display: grid;

}