 <!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Beyond</title>
    <meta name="description" content="search platform for movies that how setting taking place beyond the limits of the solar system">
    <meta name="author" content="Ryan Stucker">
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="stylesheet" href="styles.css">
     <div>
        <meta property="og:title" content=Beyond: Movies and Shows>
        <meta property="og:site_name" content=CinemaSpace>
        <meta property="og:url" content=https://cinemaspace.w3spaces.com>
        <meta property="og:description" content=Cinema search platform with the purpose of help you search Beyond.>
        <meta property="og:type" content=website>
        <meta property="og:image" content="https://cinemaspace.w3spaces.com/Placeholder.png">
        </div>
</head>
<body>
    {% include 'header.liquid' %}
    <Div Class="Sub_Header_Container">
        <h1>Beyond</h1>
    </Div>
    <main>
        <h2>What is beyond our home?</h2>
        <p>In cinema, outer space beyond our solar system is often depicted as an immense, mysterious, and largely uncharted frontier that embodies both awe and trepidation. Films explore the vastness of interstellar space with sweeping visuals of distant galaxies, nebulae, and star systems, highlighting the loneliness and isolation of deep space travel. This portrayal frequently emphasizes the challenge of navigating the unknown, the potential for encountering alien life, and the profound implications of discovering new worlds, reflecting humanity's curiosity and existential wonder about the universe.</p>
        <img src="https://cinemaspace.w3spaces.com/Placeholder.png" alt="space still shot?">
    </main>
    {% include 'footer.liquid' %}
</body>
