 <!doctype html>
<html lang="en">
    {% include 'head', title:'Beyond' %}
<body>
    {% include 'header.liquid', 
        modelPath:'../assets/jup.glb',
        pageTitle:'Beyond',
        backGround:'../assets/felix_mittermeier-June_13th_2020-Beyond.png'
        subHeadImg:'beyond' 
    %}
<main>
    <h2>What is beyond our home?</h2>
    <p>In cinema, outer space beyond our solar system is often depicted as an immense, mysterious, and largely uncharted frontier that embodies both awe and trepidation. Films explore the vastness of interstellar space with sweeping visuals of distant galaxies, nebulae, and star systems, highlighting the loneliness and isolation of deep space travel. This portrayal frequently emphasizes the challenge of navigating the unknown, the potential for encountering alien life, and the profound implications of discovering new worlds, reflecting humanity's curiosity and existential wonder about the universe.</p>
    <img src="https://cinemaspace.w3spaces.com/Placeholder.png" alt="space still shot?">
</main>
<div id="output">
            <!-- API output will go here -->
        {% include 'movie_list.liquid', planet:'Beyond' %}
    </div>
    {% include 'footer.liquid' %}
</body>
