<!doctype html>
<html lang="en">
    {% include 'head', title:'CinemaSpace' %}
<body>
    {% include 'header.liquid', 
        modelPath:'../assets/International_Space_Station.glb', 
        pageTitle:'Home', 
        backGround:'../assets/felix_mittermeier-June_13th,2020-Home.webp', 
        subHeadImg:'index'
    %}
    <main>
        <h2>What is CinemaSpace?</h2>
        <p>Is a movie database/sorting site built for the purpose of aiding navigation through the large universe of movies out there today. We believe that our sorting should be done in a why that allows consumers to be specific in their search without even trying. Welcome to the solar system may you enjoy your stay.</p>
        <h2>Earth:</h2>
        <p>We are not your site for earth based cinema, please refer IMDb for those</p>
    </main>
    {% include 'footer.liquid' %}
</body>
