 <!doctype html>
<html lang="en">
    {% include 'head', title:'Jupiter' %}
<body>
    {% include 'header.liquid',
        modelPath:'../assets/jup.glb',
        pageTitle:'Jupiter',
        backGround:'../assets/felix_mittermeier-June_13th,2020-Home.jpg' 
        subHeadImg:'jupiter' 
    %}
    <main>
<h2>What is Jupiter?</h2>
<p>Jupiter, the largest planet in our solar system, is a gas giant known for its immense size and striking features, including its Great Red Spot, a massive storm, and its prominent ring system. It is composed primarily of hydrogen and helium and has a thick atmosphere with high-speed winds and intense magnetic fields. Jupiter's numerous moons, including Ganymede, the largest moon in the solar system, add to its complexity and intrigue.</p>
<h2>Jupiter in Cinema.</h2>
<p>In cinema, Jupiter is often portrayed as a grand and enigmatic world, symbolizing both the majesty and the danger of the cosmos. Films depict it as a vast, swirling planet with dramatic storms and colorful cloud bands, emphasizing its otherworldly nature and the challenges of exploring such a giant. It serves as a dramatic setting for stories about space exploration, cosmic phenomena, and the limits of human technology and endurance.</p>
<img src="https://cinemaspace.w3spaces.com/Placeholder.png" alt="jupiter still shot?">
    </main>
    {% include 'footer.liquid' %}
</body>
