<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mars</title>
    <meta name="description" content="search platform for movies that how setting taking place Mars">
    <meta name="author" content="Ryan Stucker">
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="stylesheet" href="styles.css">
     <div>
        <meta property="og:title" content=Mars: Movies and Shows>
        <meta property="og:site_name" content=CinemaSpace>
        <meta property="og:url" content=https://cinemaspace.w3spaces.com>
        <meta property="og:description" content=Cinema search platform with the purpose of help you search Mars.>
        <meta property="og:type" content=website>
        <meta property="og:image" content="https://cinemaspace.w3spaces.com/Placeholder.png">
        </div>
</head>
<body>
    {% include 'header.liquid' %}
    <Div Class="Sub_Header_Container">
        <h1>Mars</h1>
    </Div>
    <main>
<h2>What is Mars?</h2>
<p>Mars, the fourth planet from the Sun, is a cold, arid world characterized by its reddish hue, which comes from iron oxide on its surface. It has a thin atmosphere, primarily composed of carbon dioxide, and features such as vast deserts, enormous volcanoes, and deep canyons. Despite its harsh conditions, Mars has been a focal point in the search for signs of past life and potential future human exploration.ough the large universe of movies out there today. We believe that our sorting should be done in a why that allows consumers to be specific in their search without even trying. Welcome to the solar system may you enjoy your stay.</p>
<h2>Mars in Cinema.</p>
<p>In cinema, Mars is often depicted as both a mysterious and hostile environment, reflecting humanity's fascination and fear of the unknown. Films portray it as a barren, alien landscape where survival is a monumental challenge, but also as a site of intrigue and potential for groundbreaking discoveries. From classic science fiction to modern blockbusters, Mars serves as a backdrop for stories about human resilience, adventure, and the quest for extraterrestrial life.</p>
<img src="https://cinemaspace.w3spaces.com/Placeholder.png" alt="Mars still shot?">
   
    </main>
    {% include 'footer.liquid' %}
</body>
